<html>
<head>
    <title>Added Contact</title>
</head>
<body>
    <h1>You created a new contact!</h1>
    <ul>{{ addedcontact.getName }}<ul>
        <li>Email: { addedcontact.getEmail }</li>
        <li>Phone Number: { addedcontact.getNumber }</li>
    </ul>
    <p><a href='/'>View your list of contacts.</a></p>
</body>
</html>
