<html>
<head>
    <title>To Do List</title>
</head>
<body>
    <h1>To Do List</h1>
    {% if tasks is not empty %}
      <p>Here are all your tasks:</p>
      {% for contact in tasks %}
        <ul>{{ contact.getName }}
          <li>Email: {{ contact.getEmail }}</li>
          <li>Phone: {{ contact.getPhonenumber }}</li>
        </ul>
      {% endfor %}
    {% endif %}
    <form action='/tasks' method='post'>
      <label for='name'>Contact Name</label>
      <input id='name' name='name' type='text'>
      <label for='email'>Email</label>
      <input id='email' name='email' type='text'>
      <label for='phonenumber'>Phone number</label>
      <input id='phonenumber' name='phonenumber' type='text'>

      <button type='submit'>Add Contact</button>
    </form>
    <form action='/delete_contacts' method='post'>
      <button type='submit'>delete</button>
    </form>
</body>
</html>
