<html>
<head>
    <title>Your Contacts</title>
</head>
<body>

    {$ if contacts is not empty %}
    <h1>Here are your contacts:</h1>

    {% for contact in contacts %}
    <ul>{{ contact.getName }}
        <li>Email: { contact.getEmail }</li>
        <li>Phone Number: { contact.getNumber }</li>
    </ul>
    {% endfor %}
    {% endif %}

    <form action='/added' method='post'>
        <label for='input_name'>Contact's Name</label>
        <input id='input_name' name='input_name' type='text'>

        <label for='input_email'>Contact's Email</label>
        <input id='input_email' name='input_email' type='text'>

        <label for='input_number'>Contact's Number</label>
        <input id='input_number' name='input_number' type='text'>

        <button type='submit'>Add task</button>
    </form>


    <form action='/delete_contacts' method='post'>
        <button type='submit'>Delete Contacts</button>
    </form>
</body>
</html>
